.container_3{
    /* margin: 20px 40px 20px 40px; */
    margin: 10% 10% 10% 10%;
    background: radial-gradient(farthest-side at 100px 10px, white,aquamarine );
}


.name{
    font-family: 'IBM Plex Serif', serif;
    font-size: 52px;
    /* text-underline-position: no; */
    font-weight: normal;
    color:aquamarine;
    font-kerning: normal;
    text-align: center;
    /* padding: 5px; 
    border: 5px solid white; */
    /* margin: 2% 2%; */
    /* border: 5px solid aquamarine;
    border-bottom:5px solid aquamarine;
    border-top:5px solid aquamarine */
    /* padding: 10px 20px 10px 20px; */
}

.name_white_bg{
    font-family: 'IBM Plex Serif', serif;
    font-size: 52px;
    font-weight: normal;
    background-color: white;
    /* color:  black; */
    font-kerning: normal;
    text-align: center;
    padding: 100px 20px;
    margin: 0% 20%;
    border: 5px 25px 25px 5px  solid aquamarine;
    /* padding: 10px 20px 10px 20px; */
    /* margin-bottom: 500px; */
    top: 400px;
   }

.name_white_bg:hover{
    font-family: 'IBM Plex Sans';
    font-size: 98px;
    font-weight: bold;
    font-style: italic;
    background-color: #FFC65C;
    color: #8368EE;
    font-kerning: normal;
    text-align: right;
    padding: 200px 100px;
    margin: 2% 2%;
    border: 40px 40px solid aquamarine;

    /* border-bottom: 20px solid aquamarine;
    border-top: 20px solid aquamarine; */
    /* padding: 10px 20px 10px 20px; */
}



.name_little{
    font-family: 'IBM Plex Serif', serif;
    font-size: 24px;
    /* text-underline-position: no; */
    font-weight: normal;
    color:white;
    font-kerning: normal;
    text-align: right;
    padding: 10px; 
    border: 2px solid white;
    /* margin: 2% 2%; */
    /* border: 5px solid aquamarine;
    border-bottom:5px solid aquamarine;
    border-top:5px solid aquamarine */
    /* padding: 10px 20px 10px 20px; */
}






.letter{
    font-family: 'IBM Plex Sans', sans-serif;
    font-stretch: condensed;
    font-size: 1500%;
    margin: 10% 40%;
    /* margin: 20% 50% 20% 50%; */
    color: black;
    text-align: center;
    /* border: 2px 2px 4px 4px solid; */
    /* border-color: black; */
    border: solid aqua;
    /* padding: 50% 20% 50% 20% ; */
    padding: -10% 1%;
    border-top-width:2px ;
    border-bottom-width:16px ;
    border-left-width: 16px;
    border-right-width: 2px;
}

.letter:hover{
    font-family: 'IBM Plex Sans', sans-serif;
    font-stretch: bold;
    font-style: italic;
    font-size: 1500%;
    /* margin: 1% 20%; */
    /* margin: 20% 50% 20% 50%; */
    color: aqua;
    text-align: right;
    /* border: 2px 2px 4px 4px solid; */
    /* border-color: black; */
    border: solid #7b68ee;
    /* padding: 50% 20% 50% 20% ; */
    padding: 1% 20%;
    border-top-width:36px ;
    border-bottom-width:2px ;
    border-left-width: 2px;
    border-right-width: 200px;
}



.header{
    font-family: 'IBM Plex Serif', serif;
    font-size: 24px;
    /* font-weight: medium; */
    /* font-stretch: ultra-expanded; */
    /* font-synthesis: weight; */
    /* font: 24px/48px; */
    color: rgb(0, 0, 0);
    font-kerning: normal;
    text-align: center;
    /* padding: 25px; */
    margin: 0% 25% 5% 25%;
    border: 2px solid aquamarine;
    padding: 20px 5px 20px 5px ;
}

.header:hover {
    font-family: 'IBM Plex Sans';
    font-style: italic;
    font-size: 24px;
    font-weight: medium;
    /* font-synthesis: initial; */
    font: 24px/48px;
    color:aquamarine;
    font-kerning: inherit;
    text-align: center;
    /* padding: 25px; */
    margin: 0% 25% 5% 25%;
    border: 2px solid transparent;
    padding: 20px 5px 20px 5px;
    background-color: blueviolet;
}


.row{
    display: inline;
    width: 100%;
    column-span: all;
   
}

.text_1{
    font-family: 'IBM Plex Sans';
    font-size: 20px;
    float: right;
    /* font-stretch: expanded;
    font-weight: 400; */
    color: black;
    background-color: white;
}